---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
  <div class="row index all-posts">

    <h1 class="header author-header">{{ site.author_name }}</h1>
    <h2 class="header" itemprop="headline">All posts</h2>
    <h2 class="header categories" itemprop="headline"><small>grouped by

      <div class="dropdown btn-group">
        <button class="btn btn-categories dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Tags
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="{{ site.baseurl }}/posts-by-categories/">Categories</a></li>
          <li><a href="{{ site.baseurl }}/posts/">Years</a></li>
        </ul>
      </div>

    </small></h2>

    <div class="col-md-12 content-panel articles">
      <h2>Tags</h2>
      <i class="fa fa-tags"></i>
      {% for tag in site.tags %}
        <a class="tag" href="{{ site.baseurl }}/posts-by-tags/#{{ tag | first | slugify }}">{{ tag | first }}</a>,
      {% endfor %}
    </div>

    {% for tag in site.tags %}
      <div class="col-md-12 content-panel articles">
        <!-- Make sure the tag isn't a long int. Couldn't figure out variable incapsulation here. -->
        <h2 id="{{ tag | first | slugify }}">{{ tag | first }}</h2>
          <ul>
            {% for posts in tag %}
              {% for post in posts %}
                <li>
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                </li>
              {% endfor %}
            {% endfor %}
          </ul>
      </div>
    {% endfor %}

  </div>
</div>
